.list-point {
  display: flex;
  flex-direction: column;
  gap: 18px 20px;

  li {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 50px;
    min-height: 40px;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      color: $blue-color;
      background: $light-gray-color;
    }
  }

  @media (max-width: 991px) {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }
}
