<section class="info">
  <div class="container">
    <div class="info__content sortable">
      <div class="sortable-item">
        <div class="info__item opalescence">
          <h3 class="opalescence__title sortable-title title">
            Преимущества Opalescence:
          </h3>
          <ul class="opalescence__list list-point">
            <li>Безопасность.</li>
            <li>Нейтральный рН геля не изменяет структуру зуба.</li>
            <li>Вода в составе геля не допускает обезвоживания зуба.</li>
            <li>Защита десен</li>
            <li>Содержание фторидов уменьшает риск возникновения кариеса.</li>
            <li>Быстрый и стойкий результат.</li>
          </ul>
        </div>
        <div class="info__item specialists">
          <h3 class="specialists__title title">Наши специалисты</h3>
          <div class="specialists__wrapper">
            <div class="specialists__content swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="specialists__item">
                    <picture class="specialists__image">
                      <source
                        srcset="img/specialists-01.avif"
                        type="image/avif"
                      />
                      <source
                        srcset="img/specialists-01.webp"
                        type="image/webp"
                      />
                      <img
                        loading="lazy"
                        src="img/specialists-01.jpg"
                        alt="Специалист"
                      />
                    </picture>
                    <a class="specialists__name" href="#"
                      >Иванов Иван Иванович</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="specialists__item">
                    <picture class="specialists__image">
                      <source
                        srcset="img/specialists-02.avif"
                        type="image/avif"
                      />
                      <source
                        srcset="img/specialists-02.webp"
                        type="image/webp"
                      />
                      <img
                        loading="lazy"
                        src="img/specialists-02.jpg"
                        alt="Специалист"
                      />
                    </picture>
                    <a class="specialists__name" href="#"
                      >Петров Петр Петрович</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="specialists__item">
                    <picture class="specialists__image">
                      <source
                        srcset="img/specialists-01.avif"
                        type="image/avif"
                      />
                      <source
                        srcset="img/specialists-01.webp"
                        type="image/webp"
                      />
                      <img
                        loading="lazy"
                        src="img/specialists-01.jpg"
                        alt="Специалист"
                      />
                    </picture>
                    <a class="specialists__name" href="#"
                      >Иванов Иван Иванович</a
                    >
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="specialists__item">
                    <picture class="specialists__image">
                      <source
                        srcset="img/specialists-02.avif"
                        type="image/avif"
                      />
                      <source
                        srcset="img/specialists-02.webp"
                        type="image/webp"
                      />
                      <img
                        loading="lazy"
                        src="img/specialists-02.jpg"
                        alt="Специалист"
                      />
                    </picture>
                    <a class="specialists__name" href="#"
                      >Петров Петр Петрович</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="specialists__btns">
              <button
                class="specialists__slider-btn specialists__slider-btn--prev btn-reset"
                aria-label="Перейти к предыдущему слайду"
              >
                <svg class="specialists__slider-icon">
                  <use xlink:href="img/sprite.svg#prev"></use>
                </svg>
              </button>
              <button
                class="specialists__slider-btn specialists__slider-btn--next btn-reset"
                aria-label="Перейти к следующему слайду"
              >
                <svg class="specialists__slider-icon">
                  <use xlink:href="img/sprite.svg#next"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="sortable-item">
        <div class="info__item price-include">
          <h3 class="price-include__title sortable-title title">
            В стоимость входит
          </h3>
          <ul class="price-include__list list-point">
            <li>профессиональная чистка зубов</li>
            <li>отбеливание зубов системой Opalescence</li>
          </ul>
        </div>
        <div class="info__item reviews">
          <h3 class="reviews__title title">Отзывы о чистке зубов</h3>
          <ul class="reviews__list list-reviews">
            <li>
              Сегодня была в вашей клинике, мне провели процедуру по снятию
              зубных отложений
            </li>
            <li>В субботу была на чистке зубов (камни, налет)</li>
          </ul>
        </div>
      </div>
      <div class="sortable-item">
        <div class="info__item benefits">
          <h3 class="benefits__title sortable-title title">
            Наши преимущества
          </h3>
          <ul class="benefist__list list-icon">
            <li>
              <span class="list-icon__icon">
                <svg>
                  <use xlink:href="img/sprite.svg#benefits-01"></use>
                </svg>
              </span>
              Гарантированное получение помощи при острой боли в день боли в
              день обращения
            </li>
            <li>
              <span class="list-icon__icon">
                <svg>
                  <use xlink:href="img/sprite.svg#benefits-02"></use>
                </svg>
              </span>
              Гарантия на все виды стоматологических услуг
            </li>
            <li>
              <span class="list-icon__icon">
                <svg>
                  <use xlink:href="img/sprite.svg#benefits-03"></use>
                </svg>
              </span>
              Обслуживание по ДМС
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
