<section class="promo">
  <div class="promo__container container">
    <picture class="promo__image">
      <source srcset="img/promo.avif" type="image/avif" />
      <source srcset="img/promo.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/promo.jpg"
        width="300"
        height="392"
        alt="Акция"
      />
    </picture>
    <div class="promo__content">
      <h2 class="promo__title section-title">Акция</h2>
      <p class="promo__descr">
        Профессиональная гигиена зубов + отбеливание системой Opalescence всего
        за <span class="promo__descr-highlight">9900 руб.</span>
      </p>
      <div class="promo__period">
        Срок действия акции с
        <span class="promo__period-highlight">01.12.2013</span> г. до
        <span class="promo__period-highlight">01.01.2014</span> г.
      </div>
      <div class="promo__invite">
        Сделайте свою улыбку неотразимой и привлекательной
      </div>
    </div>
    <form class="promo__form form" action="/" method="post">
      <h3 class="form__title title">Участвовать в акции</h3>
      <div class="form__body visible">
        <p class="form__descr">
          Для того чтобы принять участие в акции позвоните нам:
          <a class="form__descr-tel" href="tel:8121234567">(812) 123-45-67</a>
          или оставьте ваш телефон:
        </p>
        <div class="form__group">
          <input
            class="form__input input-name input-reset"
            id="input-name"
            type="text"
            name="Имя"
            onkeyup="this.setAttribute('value', this.value);"
            value=""
          />
          <label class="form__label" for="input-name">Имя Фамилия</label>
        </div>
        <div class="form__group">
          <input
            class="form__input input-tel input-reset"
            id="input-tel"
            type="tel"
            name="Телефон"
            onkeyup="this.setAttribute('value', this.value);"
            value=""
          />
          <label class="form__label" for="input-tel">Контактный телефон</label>
        </div>
        <button class="form__btn btn btn-reset">Отправить заявку</button>
      </div>
      <div class="form__result">
        <picture class="form__result-image">
          <source srcset="img/form-success.avif" type="image/avif" />
          <source srcset="img/form-success.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/form-success.jpg"
            width="92"
            height="92"
            alt="Успешно"
          />
        </picture>
        <p class="form__descr">
          Ваше сообщение успешно отправлено. В ближайшее время с Вами свяжется
          наш специалист.
        </p>
      </div>
    </form>
  </div>
</section>
