$white-color: #fff;
$black-color: #000;
$bg-gray-color: #edeff2;
$light-gray-color: #f2f2f2;
$text-gray-color: #717880;
$blue-color: #0051d4;
$blue-light-color: #0866ff;
$border-color: #a9b3bf;
$red-color: #d90800;
$success-color: #4ad45d;
